@model OnlineShoopingApp.Models.Customer

@{
    ViewBag.Title = "EditCustomer";
}

<h2>EditCustomer</h2>

@using (Html.BeginForm("EditCustomer", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.S01F01, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-6">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.S01F02, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S01F02, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-8">Phone number</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.S01F05, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S01F05, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-6">City</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.S01F06, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S01F06, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-outline-info">Save</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
