@model OnlineShoopingApp.ViewModel.AdminDashboardViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="btn btn-link">
    @Html.ActionLink("Customer View Page", "ViewCustomer", "Admin")
</button>
<button class="btn btn-link">
    @Html.ActionLink("Suplier View Page", "ViewSupliers", "Admin")
</button>
<button class="btn btn-link">
    @Html.ActionLink("Category View Page", "ViewCategories", "Admin")
</button>
<button class="btn btn-link">
    @Html.ActionLink("Product View Page", "ViewProducts", "Admin")
</button>

<div id="monthChart">@Html.Partial("MonthChart", Model)</div>
<div id="yearChart">@Html.Partial("YearChart", Model)</div>